.timer-wrapper {
  /* border: 2px solid #000; */
  /* padding: 3.2rem; */
  /* height: 250px; */
}
.timer-form {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 2.4rem;
  column-gap: 1.2rem;
  align-items: center;
}
.start-pause {
  grid-column: 1/2;
  justify-self: end;
}
.reset {
  grid-column: 2/-1;
}
input {
  height: 3.6rem;
  border-radius: 9px;
  padding: 0 2.4rem;
  border: none;
  outline: none;
}
input:hover {
  outline: none;
}

.btn-wrapper {
  align-self: center;
  justify-self: left;
  grid-row: 2;
  grid-column: 2/-1;
}
.btn {
  background: none;
  border: 2px solid #fff9db;
  border-radius: 4px;
  padding: 0.4rem 2.4rem;
  width: auto;
  width: fit-content;
  cursor: pointer;
  color: #fff;
  font-size: 1.6rem;
}
.btn:first-child {
  margin-right: 2.4rem;
}
label {
  font-weight: 400;
  font-size: 1.8rem;
  color: #ffe066;
}
.pause-list {
  list-style-type: none;
  height: 80px;
  overflow: auto;
  padding-top: 2.4rem;
  color: #ffe066;
}
.pause-list li {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
