<main class="wrappper">
  <div class="text-box div1">
    <div class="text-box div2">
      <div class="text-box div2">
        <div class="text-box div2">
          <div class="text-box div2">
            <div class="text-box div2">
              <div class="text-box div2">
                <div class="text-box div2">
                  <span class="rotate">Banner text</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
