<div class="wrapper">
  <div class="left-panel">
    <div class="case-study-wrapper">
      <p class="case-study">
        <span>Angular </span> <span class="first"> Case Study</span>
      </p>
      <p class="author">&ndash; Jhansi</p>
    </div>
  </div>
  <div class="route-description">
    <p class="name">Route 1</p>
    <p class="route-info">A floating text which keeps on rotating</p>
  </div>
  <div class="route-description">
    <p class="name">Route 2</p>
    <p class="route-info">
      An e-commerce category page which displays 40 products in a page with Grid
      View / List View and with Price filters as drop downs
    </p>
  </div>
  <div class="route-description">
    <p class="name">Route 3</p>

    <p class="route-info">Timer app by using Input and Output Decorators</p>
  </div>
  <div class="route-description">
    <p class="name">Route 4</p>
    <p class="route-info">
      Timer app instead of Using Input and output decrorators do it by using
      Service using Subject.
    </p>
  </div>
  <div class="route-description">
    <p class="name">Route 5</p>
    <p class="route-info">
      Sort the data in Ascending , descending order and reset data on first
      click , second click , third click on header respectively
    </p>
  </div>
  <div class="route-description">
    <p class="name">Route 6</p>
    <p class="route-info">
      Dynamically create div’s on the page with 200x 200 dimensions. Each div
      will have a button inside it.
    </p>
  </div>
</div>

<!-- <div class="wrapper">
  <p class="case-study">
    <span class="first"> Case </span>
    <span class="second">Study</span>
  </p>
</div> -->
